/.idea/.gitignore
/.idea/aws.xml
/.idea/blog_pro305.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.aws-sam/build.toml
/.idea/inspectionProfiles/Project_Default.xml
/.aws-sam/build/template.yaml
